#thechart rect {
	fill: $purple;
  	/*fill: $bluegrey;*/
}

#thechart text {
  fill: black;
  font: 10px sans-serif;
  font-family: "Lato";
  /*text-anchor: end;*/
}

.tag text {
	fill: red !important;
	font: 10px sans-serif;
}